* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  border: none;
  outline: none;
}
html {
  --dark-primary: #333333;
  --dark-secondery: #999999;
  --light-primary: #fff;
  --accent: #ff6600;
  --light-secondary: #e2e2e2;
  font-family: Inter;
  font-size: 16px;
  background-color: var(--light-secondary);
}
body {
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
h1 {
  font-size: 40px;
}
h2 {
  font-size: 24px;
}
:is(input, textarea) {
  border: 1px solid var(--dark-primary);
  border-radius: 4px;
  min-height: 32px;
  line-height: 24px;
  padding: 3px 4px;
  width: 100%;
}
:is(label, tag) {
  font-weight: bold;
}
label {
  font-size: 14px;
}
[type="radio"] + lable {
  font-size: 10px;
  text-transform: uppercase;
}
:checked + label {
  color: var(--accent);
}
.tag {
  font-size: 10px;
  color: #ff6600;
  border: 1px solid var(--accent);
  display: inline-block;
  border-radius: 2px;
  padding: 3px 2px;
  text-transform: uppercase;
}
button {
  color: var(--light-primary);
  border: none;
  font-family: inherit;

  &.primary {
    background-color: var(--accent);
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 8px 12px;
    border-radius: 8px;
  }
  &.secondary {
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 8px 12px;
    background: none;
    color: var(--dark-primary);
  }
  &.icon-btn {
    color: var(--dark-primary);
    background: none;
    padding: 2px;
  }
  & > svg {
    pointer-events: none;
  }
}
.todo-item {
  display: grid;
  grid-template-areas:
    "tags actions"
    "content content"
    "button button";
  box-shadow: 0 4px 4px rgb(0, 0, 0, 0.25);
  padding: 16px;
  row-gap: 16px;
  background-color: var(--light-primary);
  border-radius: 8px;

  &.completed {
    opacity: 0.5;
    & :is(h2, p):not(.tag) {
      text-decoration: line-through;
    }
  }
}
@scope (.todo-item) {
  .tags {
    grid-area: tags;
  }
  .actions {
    grid-area: actions;
    justify-self: end;
  }
  .content {
    grid-area: content;
  }
  :scope > button {
    grid-area: button;
    justify-self: start;
  }
}
#edit-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.form-actions {
  display: flex;
  justify-content: end;
}
